html, body {
margin:0;
background-color:#fff;
}

#overlay{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
opacity: 0.9;
filter: alpha(opacity=90); /* For IE8 and earlier */
display:none;
background-color:#fff;
z-index:1;
}

#overlaySearch{
position:absolute;
width:100%;
height:100%;
top:40px;
left:0;
opacity: 0.9;
filter: alpha(opacity=90); /* For IE8 and earlier */
display:none;
background-color:#fff;
z-index:1;
}

#container{
margin:auto;
padding:auto;
width:960px;
}

#menu {
border-bottom:1px solid #dedede;
padding:15px 0;
font: bold 10px georgia, arial, sans-serif;
}

.right{
float:right;
}

.left{
float:left;
}

/*bottoni menu left */
a.grey-button{
color: #333;
text-decoration:none;
padding:7px;
text-transform:uppercase;
vertical-align:middle;
}
a.grey-button:hover{
background:#efefef;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

/*immagini menu left */
.imgSections:before{
content:url(../img/menu.png);
padding:5px;
}

.imgSearch:before{
content:url(../img/search.png);
padding:5px;
vertical-align:top;
}

/*bottoni menu right */
a.blue-button{
background-color:#4682B4;
color:#fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-transform:uppercase;
padding:8px;
text-decoration:none;
vertical-align:middle;
margin-right:7px;

}
a.blue-button:hover{
background-color:#424282;
}

/*immagini menu right */
.imgImpostazioni:before{
content:url(../img/ingranaggio.png);
vertical-align:top;
}

/* inizio css sottomenu */
#subMenu{
position:absolute;
top:0;
left:0;
border-right:1px solid #dedede;
display:none;
width:200px;
box-shadow:0 -6px 6px 2px #dedede;
-moz-box-shadow:0 -6px 6px 2px #dedede;
-webkit-box-shadow:0 -6px 6px 2px #dedede;
background-color:#fff;
font: bold 12px georgia,arial, sans-serif;
}
#subMenu ul{
list-style-type:none;
padding:0;
margin:10px;
border-bottom:1px solid #dedede;
}

#subMenu ul  li{
position:relative;
}

#subMenu ul li a{
color:black;
text-decoration:none;
display:block;
padding:5px;
}

#subMenu ul li a:hover{
background-color:#99cbff;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.arrow:after{
content:url(../img/freccia.png);
position:absolute;
left:165px;
}

/* inizio css second sottomenu */
#subMenu > ul > li > .subDiv {
display:none;
width:180px;
position:absolute;
left: 180px;
top: -6px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
#subMenu > ul > li > .subDiv > ul:before{
content:url(../img/frecciaD.png);
left:-14px;
top:5px;
position:absolute;
}

#subMenu > ul > li > .subDiv > ul{
border:none;
}

#subMenu ul li:hover > .subDiv{
display:block;
border:1px solid #dedede;
background-color:#fff;
z-index:10;
}

#subMenu ul li:hover > .arrow:after{
content:none;
}

h5 {
padding:5px;
margin:10px;
color:#999;
font-weight:normal;
text-transform:uppercase;
}

/* inizio css third sottomenu */
#subMenu > ul > li > .subDiv > ul  > li > .thirdSubMenu{
display:none;
width:200px;
position:absolute;
left: 160px;
top: -44px;
}

#subMenu > ul > li > .subDiv > ul > li:hover > .thirdSubMenu {
display:block;
border-top:1px solid #dedede;
border-right:1px solid #dedede;
border-bottom:1px solid #dedede;
background-color:#fff;
}
.thirdSubMenu h5{
padding-left:20px;
}

#subMenu > ul > li > .subDiv > ul  > li > .thirdSubMenu  ul{
border:none;
border-left:1px solid #dedede;
padding-left:15px;
}

.thirdSubMenu ul:before{
content:url(../img/frecciaDMini.png);
left:1px;
top:13px;
position:absolute;
}

/*sparisce freccia quando si va sul link */
#subMenu > ul > li > .subDiv > ul > li:hover > .sub2:after{
content:none;
}

.sub2:after{
content:url(../img/freccia.png);
position:absolute;
left:150px;
}

/* inizio casella di ricerca*/
#search{
position:absolute;
left:0;
top:50px;
width:100%;
display:none;
border:1px solid #dedede;
box-shadow:0 6px 5px -2px #dedede;
-moz-box-shadow: 0 6px 5px -2px #dedede;
-webkit-box-shadow: 0 6px 5px -2px #dedede;
background-color:#fff;
z-index:2;
}

#searchForm{
padding:6px;
text-align:center;
}

#searchForm .textsearch{
border:1px solid #dedede;
box-shadow:2px 2px 2px 0 #dedede inset;
-moz-box-shadow:2px 2px 2px 0 #dedede inset;
-webkit-box-shadow:2px 2px 2px 0 #dedede inset;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background-color:#fff;
padding:5px;
font-size:16px;
vertical-align:middle;
}
/* se metto font-size si allarga la casella di ricerca, perchè */

/* submit form ricerca*/
#searchForm .go{
background-color:#fff;
border:1px solid #dedede;
text-transform:uppercase;
color:#999;
padding:8px;
margin:10px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
cursor:pointer;
font: 10px georgia, arial, sans-serif;
vertical-align:middle;
}

#search .closeSearch a{
background-color: #dedede;
color:#fff;
height:20px;
width:20px;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
font: bold 18px georgia, arial, sans-serif;
position:absolute;
right:15px;
top:10px;
text-align:center;
text-decoration:none;
}

#search .closeSearch a:hover{
background-color:#999;
}

/* inizio finestra subscribe*/
#subscribe{
border:1px solid #ccc;
box-shadow:0 0 2px 1px #ccc;
-moz-box-shadow:0 0 2px 1px #ccc;
-webkit-box-shadow:0 0 2px 1px #ccc;
position:absolute;
top:37px;
right:260px;
width:210px;
display:none;
background:#fff url(../img/noImgSubscribe.png) center top no-repeat;
padding-bottom:10px; /* perchè è necessario il padding, altrimenti non sta tutto nella finestra*/
z-index:3;
}

.buttonSubscribe:hover div#subscribe{
display:block;
}


#subscribe span:before{
content:url(../img/frecciaSu.png);
position:absolute;
top:-13px;
left:95px;
}

/* perchè se metto tag a non lo vede, e bisogna mettere un padding altro per non far andare la scritta sull'immagine*/
.titleSubscribe{
font: bold 14px georgia, arial, sans-serif;
padding:110px 10px 10px 10px;
margin:0;
}
.titleSubscribe a, .titleSubscribe a:visited{
text-decoration:none;
color:#000;
}

.textSubscribe {
font: 12px georgia, arial, sans-serif;
padding:10px 10px 30px 10px;
margin:0;
}

.textSubscribe a, .textSubscribe a:visited{
text-decoration:none;
color:#000;
}

.option {
text-align:center;
margin:8px;
}

.option a {
font: 10px georgia, arial, sans-serif;
text-decoration:none;
border:1px solid #4682b4;
color:#4682b4;
padding:6px 50px;
background-color:#F0F8FF;
text-transform:uppercase;
}

/* modifica impostazione finestra sull'hover*/
div#subscribe:hover{
background-color:#F0F8FF;
}
div#subscribe:hover .option a{
background-color:#4682b4;
color:#fff;
}
div#subscribe:hover span:before{
content:url(../img/frecciaSuCeleste.png);
position:absolute;
top:-13px;
left:95px
}

#windowLogin{
width:350px;
height:550px;
margin:0 auto;
top:30px;
border:1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow:  0px  0px 3px #dedede;
-webkit-box-shadow:  0px  0px 3px #dedede;
box-shadow:0px 0px 3px  #dedede;
display:none;
background-color:#fff;
position:absolute;
z-index:2;
left:37%;
}

.close a{
text-decoration:none;
position:absolute;
right:-10px;
top:-10px;
font: bold 16px georgia, arial, sans-serif;
text-align:center;
color:#fff;
background-color:#dedede;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width:20px;
height:20px;
border:1px solid #fff;
-moz-box-shadow:  0px  0px 1px 2px #dedede;
-webkit-box-shadow:  0px  0px 1px 2px #dedede;
box-shadow:0px 0px 1px 2px #dedede;
}

.close a:hover{
background-color:#6D6968;
color:#fff;
}

.titleLogin{
font:20px georgia, arial, sans-serif;
color:#6D6968;
text-align:center;
padding:30px 0 0 0;
margin:0px;
}

.descriptionLogin{
font:13px georgia, arial, sans-serif;
color:#999;
text-align:center;
margin:5px 60px;
}
p.buttonFacebook{
text-align:center;
}

/* lettera f sul bottone*/
.facebook{
font:bold 30px tahoma, georgia, arial;
padding-right:15px;
vertical-align:middle;
}

.buttonFacebook  a{
background-color:#3b5998;
color:#fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-decoration:none;
padding:10px 10px;
}

.buttonFacebook  a:hover{
background-color:#3866c7;
}

p.buttonGoogle{
padding-bottom:20px;
text-align:center;
}

/* lettera g sul bottone*/
.google{
font:30px roboto, georgia, arial;
padding-right:15px;
vertical-align:center;
}

.buttonGoogle a{
background-color:#dd4b39;
color:#fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
text-decoration:none;
padding:10px 20px 10px 10px;

}

.buttonGoogle  a:hover{
background-color:#f26352;
}

#formLog{
border-top:1px solid #999;
width:300px;
margin:auto;
position:relative;
}

#formLog .or{
text-transform:uppercase;
position:absolute;
top:-21px;
left: 130px;
background-color:#fff;
padding:0 10px;
font:bold 12px georgia, arial, sans-serif;
}

#formLog form{
text-align:center;
padding-top:15px;
}

/* caselle accesso*/
.access{
margin:10px;
padding:6px;
border:1px solid #e2e2e2;
box-shadow:1px 2px 3px 1px #e2e2e2 inset;
-moz-box-shadow:5px 5px 5px #e2e2e2 inset;
-webkit-box-shadow:5px 5px 5px #e2e2e2 inset;
background-color:#fff;
}

.check{
color:#999;
font:12px Georgia, arial, sans-serif;
float:left;
}
.forgot a{
color:#4682B4;
font:12px Georgia, arial, sans-serif;
float:right;
padding:6px;
text-decoration:none;
}

.forgot a:hover{
text-decoration:underline;
}

/* terms service*/
.privacy  {
text-align:center;
font:10px Georgia, arial, sans-serif;
width:100%;
padding-top:30px;
}
.privacy a{
text-decoration:none;
padding:10px;
color:#999;
}

.privacy a:hover{
text-decoration:underline;
}

.submit{
text-transform:uppercase;
background-color:#4682B4;
color:#fff;
font: bold 10px georgia, arial, sans-serif;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding:5px 60px;
cursor:pointer;
}

.sign{
text-align:center;
color:#666;
font:12px georgia,arial,sans-serif;
margin-top:30px;
}

.sign a{
color:#4682B4;
text-decoration:none;
margin-left:5px;
}

.sign a:hover{
text-decoration:underline;
}

.closeFloat{
clear:both;
}

#language{
position:absolute;
border-left:1px solid #dedede;
border-top:1px solid #dedede;
border-right:1px solid #dedede;
border-top-left-radius:6px;
border-top-right-radius:6px;
top:32px;
left:43%;
background-color:#fff;
text-transform:uppercase;
padding-top:4px;

}

#language a{
text-decoration:none;
font:10px georgia,arial,sans-serif;
padding:8px;
color:#999;
}

#language a:hover{
text-decoration:underline;
}

/* come attivare color black quando linkato*/
#language a.selected{
color:#000;
}

#header{
border-bottom:2px solid #000;
margin:0;
padding:8px 0 3px 0;
}

/* alternativa posizionare i div image in absolute*/


.titleHeader{
margin-left:65px;
}

/* inizio piccolo menu sotto titolo header*/
.subList {
font:11px georgia,arial,sans-serif;
position:relative;
left:40px;
}

.date{
padding-right:8px;
text-align:center;
}

.subList > a{
color:#000;
text-decoration:none;
border-left:1px solid #dedede;
padding:0 8px;
text-align:center;
}

a.linkNew:hover, a.linkVideo:hover{
text-decoration:underline;
}

a.linkNew:before{
content:url(../img/new.png);
vertical-align:top;
padding-right:3px;
}

a.linkVideo:before{
content:url(../img/video.png);
vertical-align:middle;
padding-right:3px;
}

a.linkTemp:before{
content:url(../img/soleP.png);
vertical-align:top;
padding-right:3px;
}

a.linkBorsa:after{
content:url(../img/frecciaBorsa.png);
vertical-align:top;
padding-left:3px;
}

a.linkTemp, a.linkBorsa{
text-transform:uppercase;
z-index:1;
}

a.linkTemp:hover + div.temp{
display:block;
}

.var{
color:#008000;
}

a.linkTemp:hover, a.linkBorsa:hover{
background-color:#dedede;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:8px;
}
 
 /* inizio div attivato con hover meteo*/
.temp{
display:none;
position:absolute;
border:1px solid #dedede;
width:350px;
top:30px;
left:40%;
background-color:#fff;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.temp:before{
content:url(../img/frecciaSu.png);
position:absolute;
top:-14px;
left:47%;
}

.pad{
padding:14px 14px 0 14px;
}

.temp h3{
text-transform:uppercase;
margin:0;
}

.temp a{
color:#326891;
font:10px georgia,arial, sans-serif;
text-decoration:none;
padding-top:3px;
}

.temp a:hover{
text-decoration:underline;
}

.today{
border-top:1px solid #dedede;
border-bottom:1px solid #dedede;
margin:15px 0;
}

.titleDivSubList {
color:#999;
text-transform:uppercase;
font-size:11px;
margin:4px 0;
}

.meteo ul{
background-image:url(../img/soleG.png);
background-repeat:no-repeat;
background-position:left 10px;
border-right:1px solid #dedede;
padding-right:10px;
padding-bottom:20px;
list-style-type:none;
}

.meteo > ul > li{
padding:6px;
font-size:11px
}

.meteo > ul > li.title{
font-weight:bold;
font-size:16px;
}

.meteo > ul > li > span, .elencoMeteo > ul > li > p> span{
color:#999;
}

.imgBunner{
padding:30px 10px 0 0;
}

.elencoMeteo ul{
list-style-type:none;
margin:0;
padding:0;
}

.elencoMeteo > ul > li.primoGiorno{
margin-left:0;
}

.elencoMeteo > ul > li{
float:left;
display:inline;
margin-left:22px;
text-align:center;
}
.giorni{
text-transform:uppercase;
font-size:8px;
}

.more{
text-transform:uppercase;
text-align:right;
font-size:10px;
color:#326891;
margin-bottom:14px;
}

 /* inizio div attivato con hover titoli borsa*/
 
.borsa{
display:none;
position:absolute;
border:1px solid #dedede;
width:440px;
top:30px;
left:47%;
background-color:#fff;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

a.linkBorsa:hover + div.borsa{
display:block;
}

.borsa:before{
content:url(../img/frecciaSu.png);
position:absolute;
top:-14px;
left:47%;
}

.titleBorsa{
color:#000;
}

.titleBorsa span{
font-size:10px;
}

.titleRight{
font:10px georgia,arial, sans-serif;
padding-top:4px;
color:#999;
}

.titoliBorsa{
border-top:1px solid #dedede;
border-bottom:1px solid #dedede;
margin:8px 0;
}

.tabellaBorsa{
border-collapse: collapse;
}

.tabellaBorsa td{
padding:8px;
}

.tabellaBorsa tr{
border-bottom:1px solid #dedede;
}

tr.terzaRiga{
border:none;
}

.tabellaBorsa tr:hover{
background-color:#dedede;
cursor:context-menu;
}


.titoli{
color:#111;
text-align:left;

}

.azioni{
font-weight:bold;
text-align:right;
}

.incremento{
color:#008000;
text-align:right;
}

.grafico{
list-style-type:none;
padding:0 0 0 30px;
margin:6px;
}

.titleNome{
color:#dedede;
padding-bottom:20px;
}

li.imgGrafico {
padding-bottom:0;

}

.giornoGrafico{
color:#666;
border-top:1px dotted #000;
margin-top:-3px;
}

.imgRight{
padding:10px 0;
}

.bottomLeft{
border-right:1px solid #dedede;
padding-right:12px;
}

.formTitoli{
padding:12px 0;
border-bottom:1px solid #dedede;
}

.formTitoli input{
border:1px solid #dedede;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.searchTit{
padding:6px;
font-size:12px;
box-shadow:2px 2px 2px 0 #dedede inset;
-moz-box-shadow:2px 2px 2px 0 #dedede inset;
-webkit-box-shadow:2px 2px 2px 0 #dedede inset;
}

.goTit{
text-transform:uppercase;
padding:4px;
font-size:12px;
color:#333;
margin-left:4px;
cursor:pointer;
}

.portfolio{
padding:16px 0 0 0;

}

.portfolio a{
color:#326891;
text-decoration:none;
}

.portfolio a:hover{
text-decoration:underline;
}

/* inizio nav*/
#nav{
text-align:center;
padding:5px 0;
}

#nav ul{
list-style-type:none;
margin:0;
padding:0;
}

#nav ul li{
display:inline;
padding:4px;
}

#nav > ul > li > a {
text-decoration:none;
font-size:12px;
color:#000;
padding:2px;
}

#nav > ul > li > a:hover{
background-color:#dedede;
}

#nav ul li a.all {
text-transform:uppercase;
color:#333;
font-size:10px;
}

#nav ul li a.all:hover{
background-color:#fff;
text-decoration:underline;
}

#content{
padding:10px 0;
}

#digital{
background:#fff url(http://placehold.it/960x40) center no-repeat;
width:960px;
height:40px;
padding:10px 0;
border-top:1px solid #dedede;
border-bottom:1px solid #dedede;
}

.colLeft{
width:600px;
border-right:1px solid #dedede;
margin-bottom:10px;
}

.articleColLeft{
width:190px;
border-right:1px solid #dedede;
margin-bottom:10px;

}

.article{
border-bottom:1px solid #dedede;
margin-right:10px;
padding-bottom:10px;
}

.article p, .article h2{
padding:0;
margin:0;
}

h2.firstArticle a{
font:italic bold 20px georgia,arial,sans-serif;
margin-bottom:4px;
color:#000;
text-decoration:none;
}

h2.firstArticle a:hover{
text-decoration:underline;
}

p.author{
font-size:10px;
color:#999;
}

span.upper{
text-transform:uppercase;
}

span.time{
text-transform:uppercase;
color:#a81817;
font-size:10px;
font-weight:normal;
}

p.update{
font-size:10px;
color:#a81817;
}

p.contentArticle{
color:#333;
}

.contentArticle a img{
float:right;
margin:4px 0 4px 4px;
}

p.comment a{
color:#326891;
font-size:12px;
background-image:url(../img/commenti.png);
background-repeat:no-repeat;
background-position:left center;
text-decoration:none;
}

p.comment a:hover{
text-decoration:underline;
}

.comment span{
margin-left:10px;
}

.articleColRight{
width:400px;
padding-right:5px;
}

.colRight{
width:350px;
}

h2.nextArticle a{
margin:10px 0 4px 0;
font:italic bold 17px georgia,arial,sans-serif;
color:#000;
text-decoration:none;
}

h2.nextArticle a:hover{
text-decoration:underline;
}

.article h6, .articleCentre h6, .elencoRight h6{
text-transform:uppercase;
margin:15px 0 0 0;
padding:0;
color:#666;
font-size:9px;
font-weight:normal;
}

.articleCentre{
margin:0 6px;
border-bottom:1px solid #dedede;
padding-bottom:12px;
}

.articleCentre p, .articleCentre h2 {
margin:0;
padding:0;
}

.slideImg{
border:none;
padding:0;
}

p.posImage{
text-align:center;
margin:0;
}

p.posImage img{
width:100%;
}

p.didascalia{
color:#999;
font-size:10px;
margin-top:0;
padding-bottom:10px;
}

h2.centre a{
font-style:normal;
font-weight:600;
}

ul.linkArticle{
font:bold 6px georgia, arial, sans-serif;
margin:4px 0 0 6px;
padding:0;
list-style-position:outside;
list-style-type:disc;
}

ul.linkArticle > li{
margin-bottom:3px;
}

ul.linkArticle > li > a{
font:bold 11px georgia, arial, sans-serif;
color:#000;
text-decoration:none;
vertical-align:-10%;
}

ul.linkArticle > li > a:hover{
text-decoration:underline;
}

/* riga divisoria doppia*/
p.riga{
border-bottom:1px solid #dedede;
padding:1px;
border-top:2px solid #dedede;
margin-top:16px;
}

p.imgCentre a img{
float:right;
margin:-10px 0 4px 4px;
}


h3.titleCentre a, h3.titleCentre{
margin:10px 0 2px 0;
font:13px georgia,arial,sans-serif;
color:#000;
font-weight:600;
text-decoration:none;
}

h3.titleCentre a:hover{
text-decoration:underline;
}

.noBold{
font-weight:normal;
}

.ultimoArticle{
 border:none;
 }
.rigaUltima{
 margin-right:10px;
 }
 
 .elencoArticle{
 color:#555;
 }
 

 .ultimiArticleLeft ul{
 list-style-type:none;
 margin:0 auto;
 padding:0;
 }
 
 .ultimiArticleLeft  ul  li{
 float:left;
 width:180px;
 padding-right:10px;
 }
 
 .ultimiArticleLeft ul li p{
 margin:0;
 }

.primiLi{
border-right:1px solid #dedede;
margin-right:10px;
}

.ultimoLi{
 border:none;
 }
 
 h3.titleRight a, h3.titleRight{
margin:0;
padding:0;
font:13px georgia,arial,sans-serif;
color:#000;
font-weight:600;
text-decoration:none;
text-align:center;
}

h3.titleRight a:hover{
text-decoration:underline;
}

.elencoRight{
list-style-type:none;
margin:0;
padding:5px 0 0 0;
}
 
.elencoRight li{
float:left;
width:160px;
clear:right
}
 
.primoLiElenco{
border-right:1px solid #dedede;
padding-right:10px;
margin-right:10px;
margin-bottom:23px;
 }
  
.elencoRight p, .elencoRight h2 {
margin:0;
padding:0;
}

.banner{
border-top:1px solid #dedede;
border-bottom:4px solid #dedede;
text-align:center;
padding: 10px 0;
}

.titleArticleRight{
font-size:18px;
font-weight:bold;
color:#222;
margin:4px 0;
}

.articleRight{
border-top:1px solid #dedede;
padding:20px 0;
}

.articleRight h4{
margin:0;
}

.articleRight h4 a{
font-weight:normal;
color:#222;
font-size:18px;
text-decoration:none;
}

.articleRight img{
float:right;
padding-left:10px;
}

.articleRight p{
font-size:13px;
color:#555;
}